.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 4px #000;
  width: 100%;
}

.center {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.imageLogo {
  display: block;
  position: relative;
  width: 10%;
}

.rightSide {
  width: 80%;
}

.header li {
  display: inline;
  font-size: 1.2rem;
  letter-spacing: normal;
  color: #333;
}

.list {
  margin-left: 3%;
  font-size: 1.2rem;
}

.list:hover {
  color: goldenrod;
  cursor: pointer;
  text-decoration: underline;
}

.headerBtn a {
  border: solid 1px rgb(148, 145, 145);
}

.headerBtn a {
  color: #fff;
  background-color: rgb(46, 60, 87);
  margin: 0;
  border-radius: 20px;
  font-size: 1.2rem;
  position: relative;
  transition: 0.3s ease;
  margin: 3px;
  padding: 15px;
}

.headerBtn a:hover {
  background-color: rgb(86, 87, 102);
}

.header li a {
  color: #333;
  text-decoration: none;
  padding: 5px;
}

.btns {
  /* width: 35; */
  height: auto;
  float: right;
}

#sign-in {
  margin-right: 10px;
}


