.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(to right, rgb(249, 252, 255) ,rgb(148, 198, 241), rgb(47, 91, 148));
}

.center {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 78%;
  height: 50px;
}

.nav {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 78%;
  height: 50px;
}

.imageLogo {
  display: block;
  position: relative;
  width: 6%;
  height: 100%;
}

.rightSide {
  width: 80%;
}

.header li {
  display: inline;
  font-size: 20px;
  letter-spacing: normal;
  color: rgb(0, 0, 0);
}

.list {
  margin-left: 5%;
  font-size: 20px
}

.list:hover {
  color: rgb(26, 29, 46);
  cursor: pointer;
}

.headerBtn a {
  border: solid 1px rgb(148, 145, 145);
}

.headerBtn a {
  color: #fff;
  background-color: rgb(24, 42, 95);
  border-radius: 20px;
  font-size: 17px;
  position: relative;
  transition: 0.3s ease;
  margin-left: 2px;
  padding: 8px;
}

.headerBtn a:hover {
  background-color: rgb(90, 126, 192);
}

.header li a {
  text-decoration: none;
  padding: 5px;
}

.btns {
  font-size: 20px;
}

#sign-in {
  margin-right: 10px;
}
.header li{
display: inline;
font-size: 20px;
letter-spacing: normal;
color: rgb(17, 14, 14);
}

